.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;

  @media (min-width: 475px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.blog-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.obs-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
